<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../static/css/demand.css" rel="stylesheet" type="text/css">
    <link href="../static/css/graphic.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <div class="logo">
            <a href="http://127.0.0.1:8000/">Home</a>
        </div>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/cuerrency/">СПРОС</a>
            <a href="http://127.0.0.1:8000/geographic/">ГЕОГРАФИЯ</a>
            <a href="http://127.0.0.1:8000/habilities/">НАВЫКИ</a>
            <a href="http://127.0.0.1:8000/vacancy/">ВАКАНСИИ</a>
        </nav>
    </div>
<section>
        <div class="divbanner">
            <header class="banner"></header>
            <div class="text">
                <h1><b>СПРОС</b></h1>
                <p>Статистика в реальном времени</p>
            </div>
        </div>
</section>
<section class="bloques">
    <div class="element_block">
        <div class="columna">
            <h1 class="h1box">Динамика уровня зарплат по годам</h1>
            <p class="pbox">Средняя зарплата в России составляет около 1000 долларов в месяц. Это эквивалентно 12 000 долларов в год.
                В России есть несколько разных регионов с разным уровнем средней заработной платы. Например, средняя зарплата в Москве составляет около 2000 долларов в месяц или 24000 долларов в год.</p>
        </div>
        <div class="columna">
            <div class="board">
                <div class="titulo_grafica">
                    <h3 class="t_grafica">Заработная плата в год</h3>
                </div>
                <div class="sub_board">
                    <div class="sep_board"></div>
                    <div class="cont_board">
                        <div class="graf_board">
                            <div class="barra">
                                <div class="sub_barra b1">
                                    <div class="tag_g">10.605</div>
                                    <div class="tag_leyenda">2018</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b2">
                                    <div class="tag_g">11.280</div>
                                    <div class="tag_leyenda">2019</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b3">
                                    <div class="tag_g">12.130</div>
                                    <div class="tag_leyenda">2020</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b4">
                                    <div class="tag_g">12.792</div>
                                    <div class="tag_leyenda">2021</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b5">
                                    <div class="tag_g">14.450</div>
                                    <div class="tag_leyenda">2022</div>
                                </div>
                            </div>
                        </div>
                        <div class="tag_board">
                            <div class="sub_tag_board">
                                <div>15.000</div>
                                <div>14.000</div>
                                <div>13.000</div>
                                <div>12.000</div>
                                <div>11.000</div>
                                <div>10.000</div>
                                <div>9.000</div>
                                <div>8.000</div>
                                <div>7.000</div>
                                <div>6.000</div>
                            </div>
                        </div>
                   </div>
                    <div class="sep_board"></div>
               </div>
            </div>
        </div>
    </div>
</section>
<section class="bloques">
    <div class="element_block">
        <div class="columna">
            <h1 class="h1box">Динамика количества вакансий по годам</h1>
            <p class="pbox">Количество вакансий в год в России для работы постоянно увеличивается и сейчас приближается к 3 миллионам вакансий в год. Это происходит потому, что средняя зарплата в России выросла почти на 30% за последние 10 лет.</p>
        </div>
        <div class="columna">
            <div class="board">
                <div class="titulo_grafica">
                    <h3 class="t_grafica">Вакансии в год</h3>
                </div>
                <div class="sub_board">
                    <div class="sep_board"></div>
                    <div class="cont_board">
                        <div class="graf_board">
                            <div class="barra">
                                <div class="sub_barra b1g1">
                                    <div class="tag_g">60.5%</div>
                                    <div class="tag_leyenda">2018</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b2g2">
                                    <div class="tag_g">60%</div>
                                    <div class="tag_leyenda">2019</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b3g3">
                                    <div class="tag_g">58%</div>
                                    <div class="tag_leyenda">2020</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b4g4">
                                    <div class="tag_g">58.5%</div>
                                    <div class="tag_leyenda">2021</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b5g5">
                                    <div class="tag_g">60.3%</div>
                                    <div class="tag_leyenda">2022</div>
                                </div>
                            </div>
                        </div>
                        <div class="tag_board">
                            <div class="sub_tag_board">
                                <div>61</div>
                                <div>60.5</div>
                                <div>60</div>
                                <div>59.5</div>
                                <div>59</div>
                                <div>58.5</div>
                                <div>58</div>
                                <div>30</div>
                                <div>20</div>

                            </div>
                        </div>
                   </div>
                    <div class="sep_board"></div>
               </div>
            </div>
        </div>
    </div>
</section>
<section class="bloques">
    <div class="element_block">
        <div class="columna">
            <h1 class="h1box">Динамика уровня заработной платы веб-дизайнера по годам</h1>
            <p class="pbox">Очень сложно назвать точную зарплату веб-дизайнера в России, потому что их заработная плата варьируется в зависимости от региона, образования и опыта.
                К счастью, есть несколько ресурсов, которые вы можете использовать, чтобы получить представление о том, сколько может заработать веб-дизайнер в России. Например, в Москве средняя зарплата веб-дизайнера составляет около 103 599 рублей в месяц.</p>
        </div>
        <div class="columna">
            <div class="board">
                <div class="titulo_grafica">
                    <h3 class="t_grafica">Годовая зарплата веб-дизайнера</h3>
                </div>
                <div class="sub_board">
                    <div class="sep_board"></div>
                    <div class="cont_board">
                        <div class="graf_board">
                            <div class="barra">
                                <div class="sub_barra b1g6">
                                    <div class="tag_g">50.000</div>
                                    <div class="tag_leyenda">2017</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b2g6">
                                    <div class="tag_g">35.000</div>
                                    <div class="tag_leyenda">2018</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b3g6">
                                    <div class="tag_g">40.000</div>
                                    <div class="tag_leyenda">2019</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b4g6">
                                    <div class="tag_g">41.000</div>
                                    <div class="tag_leyenda">2020</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b5g6">
                                    <div class="tag_g">50.000</div>
                                    <div class="tag_leyenda">2021</div>
                                </div>
                            </div>
                        </div>
                        <div class="tag_board">
                            <div class="sub_tag_board">
                                <div>55.000</div>
                                <div>50.000</div>
                                <div>45.000</div>
                                <div>40.000</div>
                                <div>35.000</div>
                                <div>30.000</div>
                                <div>20.000</div>
                                <div>10.000</div>
                                <div>7.000</div>
                            </div>
                        </div>
                   </div>
                    <div class="sep_board"></div>
               </div>
            </div>
        </div>
    </div>
</section>
<section class="bloques">
    <div class="element_block">
        <div class="columna">
            <h1 class="h1box">Динамика количества вакансий в год для веб-дизайнера</h1>
            <p class="pbox">Учитывая растущий спрос на веб-дизайнеров, неудивительно, что количество вакансий веб-дизайнеров в год растет.
                Количество вакансий для веб-дизайнеров с годами растет. Спрос на этих специалистов возрос с увеличением числа веб-сайтов и
                магазинов электронной коммерции.</p>
        </div>
        <div class="columna">
            <div class="board">
                <div class="titulo_grafica">
                    <h3 class="t_grafica">Вакансии в год для веб-дизайнера</h3>
                </div>
                <div class="sub_board">
                    <div class="sep_board"></div>
                    <div class="cont_board">
                        <div class="graf_board">
                            <div class="barra">
                                <div class="sub_barra b1g7">
                                    <div class="tag_g">3391</div>
                                    <div class="tag_leyenda">2018</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b2g7">
                                    <div class="tag_g">5657</div>
                                    <div class="tag_leyenda">2019</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b3g7">
                                    <div class="tag_g">8750</div>
                                    <div class="tag_leyenda">2020</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b4g7">
                                    <div class="tag_g">10219</div>
                                    <div class="tag_leyenda">2021</div>
                                </div>
                            </div>
                            <div class="barra">
                                <div class="sub_barra b5g7">
                                    <div class="tag_g">16956</div>
                                    <div class="tag_leyenda">2022</div>
                                </div>
                            </div>
                        </div>
                        <div class="tag_board">
                            <div class="sub_tag_board">
                                <div>17000</div>
                                <div>16500</div>
                                <div>15000</div>
                                <div>13000</div>
                                <div>12000</div>
                                <div>10500</div>
                                <div>90000</div>
                                <div>80000</div>
                                <div>50000</div>
                                <div>30000</div>
                            </div>
                        </div>
                   </div>
                    <div class="sep_board"></div>
               </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>