<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../static/css/geo.css" rel="stylesheet" type="text/css">
    <link href="../static/js/geo.js" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
  <section>
    <div class="head">
        <div class="logo">
            <a class="alogo" href="http://127.0.0.1:8000/">Home</a>
        </div>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/cuerrency/">СПРОС</a>
            <a href="http://127.0.0.1:8000/geographic/">ГЕОГРАФИЯ</a>
            <a href="http://127.0.0.1:8000/habilities/">НАВЫКИ</a>
            <a href="http://127.0.0.1:8000/vacancy/">ВАКАНСИИ</a>
        </nav>
    </div>
  </section>
<section>
        <div class="divbanner">
            <header class="banner"></header>
            <div class="text">
                <h1><b>ГЕОГРАФИЯ</b></h1>
                <p>Топ-10 регионов с самой высокой зарплатой и их вакансиями</p>
            </div>
        </div>
</section>

<section>
<div id="demo">
    <h1 class="h1ti" > <strong>Уровень заработной платы и вакансий в Российской Федерации</strong> </h1>
    <h2>В России есть несколько разных регионов с разным уровнем заработной платы, вот список из 10 регионов
      с самой высокой заработной платой</h2>

    <!-- Responsive table starts here -->
    <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>salary</th>
            <th>Vacancy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="ID"><strong>1</strong></td>
            <td data-title="Name">Москва</td>
            <td data-title="salar">380000 <strong>RUB</strong></td>
            <td data-title="Status">359</td>
          </tr>
          <tr>
            <td data-title="ID"><strong>2</strong></td>
            <td data-title="Name">Санкт-Петербург</td>
            <td data-title="salar">230000 <strong>RUB</strong></td>
            <td data-title="Status">143</td>
          </tr>
          <tr>
            <td data-title="ID"><strong>3</strong></td>
            <td data-title="Name">Новосибирск</td>
            <td data-title="salar">200000 <strong>RUB</strong></td>
            <td data-title="Status">24</td>
          </tr>
          <tr>
            <td data-title="ID"><strong>4</strong></td>
            <td data-title="Name">Казань</td>
            <td data-title="salar">170000 <strong>RUB</strong></td>
            <td data-title="Status">15</td>
          </tr>
          <tr>
            <td data-title="ID"><strong>5</strong></td>
            <td data-title="Name">Ижевск</td>
            <td data-title="salar">170000 <strong>RUB</strong></td>
            <td data-title="Status">8</td>
          </tr>
          <tr>
            <td data-title="ID"><strong>6</strong></td>
            <td data-title="Name">Екатеринбург</td>
            <td data-title="salar">170000 <strong>RUB</strong></td>
            <td data-title="Status">23</td>
          </tr>
          <tr>
            <td data-title="ID"><strong>7</strong></td>
            <td data-title="Name">Иркутск</td>
            <td data-title="salar">150000 <strong>RUB</strong></td>
            <td data-title="Status">4</td>
          </tr>
          <tr>
            <td data-title="ID"><strong>8</strong></td>
            <td data-title="Name">Тольятти</td>
            <td data-title="salar">150000 <strong>RUB</strong></td>
            <td data-title="Status">3</td>
          </tr>
          <tr>
            <td data-title="ID"><strong>9</strong></td>
            <td data-title="Name">Набережные Челны</td>
            <td data-title="salar">120000 <strong>RUB</strong></td>
            <td data-title="Status">4</td>
          </tr>
          <tr>
            <td data-title="ID"><strong>10</strong></td>
            <td data-title="Name">Пермь</td>
            <td data-title="salar">100000 <strong>RUB</strong></td>
            <td data-title="Status">7</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  </section>
</body>
</html>