<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <link href="../static/css/habi.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <div class="logo">
            <a href="http://127.0.0.1:8000/">Home</a>
        </div>

        <nav class="navbar">
            <a href="http://127.0.0.1:8000/cuerrency/">СПРОС</a>
            <a href="http://127.0.0.1:8000/geographic/">ГЕОГРАФИЯ</a>
            <a href="http://127.0.0.1:8000/habilities/">НАВЫКИ</a>
            <a href="http://127.0.0.1:8000/vacancy/">ВАКАНСИИ</a>
        </nav>
    </div>
<section>
        <div class="divbanner">
            <header class="banner"></header>
            <div class="text">
                <h1><b>НАВЫКИ</b></h1>
                <p>В этой статье мы перечислим 10 лучших навыков веб-дизайнера</p>
            </div>
        </div>
</section>
<section id="main">
    <div class="row">
        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>1</h2>
                <h4 class="price">Adobe Photoshop</h4>
                <p>Область инструментов</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Редактирование изображений</li>
                    <li>Сосредоточьтесь на искусстве</li>
                    <li>Растровых изображений</li>
                    <li>Создавайте 3D-иллюстрации</li>
                    <li>Скидка с помощью шрифтов</li>
                </ul>

            </div>
        </div>

        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>2</h2>
                <h4 class="price">HTML</h4>
                <p>Знание языков</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Создание игр</li>
                    <li>Создание форм</li>
                    <li>Разработка рассылки</li>
                    <li>Разработка анимации</li>
                    <li>Вставлять видео</li>
                </ul>
                <div>
                </div>
            </div>
        </div>

        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>3</h2>
                <h4 class="price">CSS</h4>
                <p>Знание языков</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Текст или содержание</li>
                    <li>Цвет фона блока</li>
                    <li>Стиль границ</li>
                    <li>Графика и плавающие блоки</li>
                    <li>Позиционирование блока</li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section id="main">
    <div class="row">
        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>4</h2>
                <h4 class="price">Перфекционизм</h4>
                <p>необходимые навыки</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Самокритика</li>
                    <li>Овладение ситуацией</li>
                    <li>Чувство ответственности</li>
                    <li>Принятие мнений</li>
                    <li>Принятие решений</li>
                </ul>

            </div>
        </div>

        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>5</h2>
                <h4 class="price">Гибкость ума</h4>
                <p>необходимые навыки</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Способность адаптироваться</li>
                    <li>Терпимость к изменениям</li>
                    <li>Больше разных точек зрения</li>
                    <li>Повышенная толерантность</li>
                    <li>Принимать ошибки</li>
                </ul>
                <div>
                </div>
            </div>
        </div>

        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>6</h2>
                <h4 class="price">Креативность</h4>
                <p>необходимые навыки</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Быть оригинальным</li>
                    <li>Проявлять инициативу</li>
                    <li>Быть гибким</li>
                    <li>Полюбопытствовать</li>
                    <li>будете мотивированы</li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section id="main">
    <div class="row">
        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>7</h2>
                <h4 class="price">UX</h4>
                <p>Пользовательский опыт</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Удобство использования</li>
                    <li>Полезность</li>
                    <li>Желательность</li>
                    <li>Доступность</li>
                    <li>Доверительность</li>
                </ul>

            </div>
        </div>

        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>8</h2>
                <h4 class="price">UI</h4>
                <p>Пользовательский опыт</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Простота</li>
                    <li>Ясность</li>
                    <li>Фамильярность</li>
                    <li>Согласованность</li>
                    <li>Быстрота</li>
                </ul>
                <div>
                </div>
            </div>
        </div>

        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>9</h2>
                <h4 class="price">Adobe Illustrator</h4>
                <p>Область инструментов</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Дизайн логотипа</li>
                    <li>Дизайн букв</li>
                    <li>Графический дизайн</li>
                    <li>Инфографический дизайн</li>
                    <li>Дизайн баннеров</li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section id="main">
    <div class="row">
        <div class="pricing-table">
            <div class="pricing-table-header">
                <h2>10</h2>
                <h4 class="price">Графические редакторы</h4>
                <p>Пользовательский опыт</p>
            </div>

            <div class="pricing-table-content">
                <ul>
                    <li>Sketch</li>
                    <li>Adobe Photoshop</li>
                    <li>Adobe InDesign</li>
                    <li>Corel Draw</li>
                    <li>Figma</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</body>
</html>